/* global */
svg {
  flex-shrink: 0;
}
html {
  font-size: 16px;
}
/* */
.grabArea {
  position: absolute;
  height: 43px;
  width: 100%;
  margin-bottom: 65px;
  cursor: pointer;
  z-index: 3;
  bottom: 0px;
}
/* Global */
body {
  background: #fcfcfc;
}
/* Atoms */
/* Player Sound */
/* Navbar */
.navbar {
  position: relative;
  display: flex;
  padding: 12px;
  height: 48px;
  margin: 0 auto;
  flex-wrap: nowrap;
}
.mainMenu {
  display: flex;
}
/* Principal */
.principal {
  margin: 0 auto;
  max-width: 604px;
}
/* Principal|Cover */
.coverContainer {
  display: flex;
  width: 604px;
}
.logoTextContainer {
  margin-bottom: 14px;
  display: flex;
}
.logoTextContainer svg {
  margin-left: 0px;
  width: 159px;
  height: 102px;
  viewBox: 0 0 159 102;
  fill: none;
  flex-shrink: 0;
  margin-right: 16px;
}
.titleContainer h1 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 100%;
  margin-bottom: 8px;
  margin-top: 0px;
 /* Type colors / Primary */
  color: #323130;
  text-decoration-color: red;
}
.titleContainer h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
 /* grayBlue / DarkAlt-32 */
  color: #515154;
}
.buttonsContainer {
  height: 2em;
  display: flex;
  align-items: center;
}
.primaryButton {
  height: 2em;
  cursor: pointer;
  align-items: center;
  white-space: nowrap;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 0.31em;
 /* Theme / Primary */
  background: #0078d4;
  border: 0px;
  border-radius: 0.5em;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
 /* Grey palette / White */
  color: #fff;
}
.primaryButton:hover {
 /* Theme / DarkAlt */
  background: #106ebe;
}
.primaryButton:pressed {
 /* Theme / Dark */
  background: #005a9e;
}
.socialMedia {
  cursor: pointer;
}
.socialMedia svg {
  height: 2em;
  width: 2em;
  viewBox: 0 0 2em 2em;
  margin-left: 0.31em;
  margin-right: 0.31em;
}
.spotify:hover path {
  fill: #1db954;
}
.youtube:hover path {
  fill: #c4302b;
}
/* principal | episodiosOrdenamientoContainer */
.episodiosOrdenamientoContainer {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  gap: 2px 2px;
  grid-template-areas: "cantEpisodios order";
  padding-top: 14px;
  align-items: center;
}
.episodiosOrdenamientoContainer p {
  grid-area: cantEpisodios;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
 /* identical to box height, or 18px */
  color: #3c4043;
}
.episodiosOrdenamientoContainer svg {
  grid-area: order;
  cursor: pointer;
}
/* principal | podcastContainer*/
/* principal | reproductor */
.reproductor {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 88px;
  max-height: 96px;
  z-index: 1;
  background: #f8f9fa;
  display: grid;
  grid-template-columns: 45.82% 1fr 45.82%;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "reproductorInfoContainer reproductorControls reproductorVolumeControl";
  align-items: center;
}
.reproductorVolumeControl {
  width: 45.82%;
  grid-area: reproductorVolumeControl;
}
.reproductorControls {
  grid-area: reproductorControls;
}
.reproductorInfoContainer {
  width: 45.82%;
  grid-area: reproductorInfoContainer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reproductorPodcastArtwork {
  height: 56.81%;
  border-radius: 3px;
  margin: auto 0;
  margin-left: 1.375em;
  flex-shrink: 0;
}
.reproductorPodcastTitleContainer {
  margin-left: 1.375em;
  align-item: center;
}
.reproductorPodcastTitleContainer h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
 /* identical to box height, or 14px */
  letter-spacing: 0.00017em;
  color: #202124;
  display: inline-block;
  overflow: visible;
  white-space: nowrap;
  margin: 0 0;
}
.reproductorPodcastTitleContainer p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
 /* identical to box height, or 12px */
  color: #3c4043;
  letter-spacing: 0.025em;
  margin-top: 4px;
  margin-bottom: 0px;
}
/* extras */
::selection {
  background: #5f74a0;
  color: #fff;
}
::-moz-selection {
  background: #5f74a0;
  color: #fff;
}
::-webkit-selection {
  background: #5f74a0;
  color: #fff;
}
br {
  display: block;
  line-height: 1.6em;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
.separator {
  height: 1px;
  left: 0;
  width: 100%;
  background-color: #dadce0;
}
.playButton {
  margin: auto auto;
  border: 0;
  background: none;
}
.date {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
 /* identical to box height, or 12px */
  color: #3c4043;
  margin-top: 2px;
  margin-bottom: 2px;
}
.podcastTitle {
  font-family: Roboto;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 500;
  line-height: 1.25rem;
  color: #3c4043;
  max-height: 22px;
}
.podcastDescription {
  letter-spacing: 0.01428571rem;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  max-height: 48px;
  color: #3c4043;
  margin-top: 4px;
  margin-bottom: 4px;
  white-space: pre-line;
}
.container-podcast-actions {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}
.buttonPrincipal {
  height: 34px;
  left: 0px;
  top: 75px;
  background: #0078d4;
  border-radius: 2px;
  border: none;
  text-align: center;
}
.audioButton {
  cursor: pointer;
  height: 34px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #dadada;
  border-radius: 100px;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1;
  position: relative;
  color: #3e6dbb;
  background: transparent;
  transition: background 0.3s;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
 /* identical to box height, or 14px */
  color: #3c4043;
}
.slider {
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
}
.barSliderBall {
  position: absolute;
  left: 0%;
  background-color: #4285f4;
  border-radius: 100%;
  height: 12px;
  width: 12px;
  top: -5px;
  bottom: 0px;
  z-index: 5;
}
.barSlider_next {
  position: relative;
  width: 50%;
  height: 2px;
  background-color: #bebebe 55;
}
.barSlider_back {
  left: 0%;
  background-color: #4285f4;
  width: 100%;
  transform-origin: left;
  position: absolute;
  height: 2px;
  z-index: 5;
  cursor: pointer;
}
.playerContainer {
  position: fixed;
  bottom: 0;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.svgSound-play {
  margin-right: 4px;
}
.svgSound-play circle {
  fill: white;
  stroke: #1a73e8;
  stroke-dasharray: 56.55;
  stroke-dashoffset: 0;
  transform: rotate(-90deg);
}
.svgSound-play path {
  fill: #1a73e8;
  stroke: 'none';
}
.svgSound-playing {
  stroke: #1a73e8;
  stroke-dasharray: 16;
  margin-right: 4px;
}
.leftLine {
  animation: leftLine 1.5s linear infinite;
}
.middleLine {
  animation: middleLine 1.5s linear infinite;
}
.rightLine {
  animation: rightLine 1.5s linear infinite;
}
@keyframes leftLine {
  0% {
    stroke-dashoffset: 14;
 }
  4% {
    stroke-dashoffset: 12;
 }
  8% {
    stroke-dashoffset: 10;
 }
  16% {
    stroke-dashoffset: 8;
 }
  20% {
    stroke-dashoffset: 6;
 }
  24% {
    stroke-dashoffset: 7;
 }
  28% {
    stroke-dashoffset: 8;
 }
  32% {
    stroke-dashoffset: 10;
 }
  36% {
    stroke-dashoffset: 8;
 }
  40% {
    stroke-dashoffset: 8;
 }
  44% {
    stroke-dashoffset: 6;
 }
  48% {
    stroke-dashoffset: 4;
 }
  52% {
    stroke-dashoffset: 2;
 }
  56% {
    stroke-dashoffset: 3;
 }
  60% {
    stroke-dashoffset: 3;
 }
  64% {
    stroke-dashoffset: 4;
 }
  68% {
    stroke-dashoffset: 6;
 }
  72% {
    stroke-dashoffset: 5;
 }
  76% {
    stroke-dashoffset: 4;
 }
  80% {
    stroke-dashoffset: 3;
 }
  84% {
    stroke-dashoffset: 2;
 }
  88% {
    stroke-dashoffset: 6;
 }
  92% {
    stroke-dashoffset: 10;
 }
  96% {
    stroke-dashoffset: 12;
 }
  to {
    stroke-dashoffset: 14;
 }
}
@keyframes middleLine {
  0% {
    stroke-dashoffset: 2;
 }
  4% {
    stroke-dashoffset: 4;
 }
  8% {
    stroke-dashoffset: 6;
 }
  16% {
    stroke-dashoffset: 7;
 }
  20% {
    stroke-dashoffset: 7;
 }
  24% {
    stroke-dashoffset: 7;
 }
  28% {
    stroke-dashoffset: 6;
 }
  32% {
    stroke-dashoffset: 8;
 }
  36% {
    stroke-dashoffset: 4;
 }
  40% {
    stroke-dashoffset: 4;
 }
  44% {
    stroke-dashoffset: 2;
 }
  48% {
    stroke-dashoffset: 6;
 }
  52% {
    stroke-dashoffset: 8;
 }
  56% {
    stroke-dashoffset: 10;
 }
  60% {
    stroke-dashoffset: 9;
 }
  64% {
    stroke-dashoffset: 6;
 }
  68% {
    stroke-dashoffset: 5;
 }
  72% {
    stroke-dashoffset: 4;
 }
  76% {
    stroke-dashoffset: 3;
 }
  80% {
    stroke-dashoffset: 3;
 }
  84% {
    stroke-dashoffset: 4;
 }
  88% {
    stroke-dashoffset: 4;
 }
  92% {
    stroke-dashoffset: 8;
 }
  96% {
    stroke-dashoffset: 6;
 }
  to {
    stroke-dashoffset: 8;
 }
}
@keyframes rightLine {
  0% {
    stroke-dashoffset: 12;
 }
  4% {
    stroke-dashoffset: 8;
 }
  8% {
    stroke-dashoffset: 6;
 }
  16% {
    stroke-dashoffset: 4;
 }
  20% {
    stroke-dashoffset: 2;
 }
  24% {
    stroke-dashoffset: 2;
 }
  28% {
    stroke-dashoffset: 6;
 }
  32% {
    stroke-dashoffset: 8;
 }
  36% {
    stroke-dashoffset: 10;
 }
  40% {
    stroke-dashoffset: 12;
 }
  44% {
    stroke-dashoffset: 14;
 }
  48% {
    stroke-dashoffset: 12;
 }
  52% {
    stroke-dashoffset: 8;
 }
  56% {
    stroke-dashoffset: 6;
 }
  60% {
    stroke-dashoffset: 4;
 }
  64% {
    stroke-dashoffset: 4;
 }
  68% {
    stroke-dashoffset: 5;
 }
  72% {
    stroke-dashoffset: 4;
 }
  76% {
    stroke-dashoffset: 6;
 }
  80% {
    stroke-dashoffset: 4;
 }
  84% {
    stroke-dashoffset: 2;
 }
  88% {
    stroke-dashoffset: 2;
 }
  92% {
    stroke-dashoffset: 4;
 }
  96% {
    stroke-dashoffset: 6;
 }
  to {
    stroke-dashoffset: 8;
 }
}
.dateText {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 100%;
 /* identical to box height, or 14px */
  color: #3c4043;
}
.podcast {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-bottom: 24px;
  padding-top: 24px;
}

.footer-menu li {
  position: inherit;
}