/* global */
svg {
  flex-shrink: 0;
}
html {
  font-size: 16px;
}
/* */
.grabArea {
  position: absolute;
  height: 43px;
  width: 100%;
  margin-bottom: 65px;
  cursor: pointer;
  z-index: 3;
  bottom: 0px;
}
/* Global */
body {
  background: #fcfcfc;
}

/* Really start code, declarations. */
/* COLOR | FOREGROUND */
/* COLOR | BACKGROUND */
/* COLOR | PRIMARY */
/* RIPPLE COLOR */
/* ilo-buttons */
.ilo-button {
  width: min-width;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 4px 8px 4px 8px;
  margin: 8px 8px 8px 0px;
  height: 36px;
  border-radius: 100px;
}
.ilo-button__label {
  padding: 4px;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  top: 11px;
  bottom: 11px;
  vertical-align: middle;
}
.ilo-button__ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(41, 75, 163, 0.1);
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  left: var(--ilo-ripple-left);
  top: var(--ilo-ripple-top);
}

podcastCard__container{
  flex-shrink: 0;
}

.contained {
  background-color: rgba(255, 255, 255, 0.5);
}
@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
 }
  to {
    opacity: 0;
    transform: scale(10);
 }
}
.ilo-button-icon {
  margin: 2px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.ilo-button--outlined {
  color: #0078d4;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.ilo-button--outlined .ilo-button-icon {
  fill: #0078d4;
}
.ilo-button--outlined:enabled {
  background: #fff;
}
.ilo-button--outlined:hover {
  background: rgba(0, 120, 212, 0.04);
}
.ilo-button--outlined:focus {
  background: rgba(0, 120, 212, 0.08);
}
.ilo-button--outlined:disabled {
  color: #9b9ca3;
  background: #fff;
  cursor: not-allowed;
}
.ilo-button--outlined:disabled svg path {
  fill: #9b9ca3;
}
.ilo-button--text {
  color: #0078d4;
  border: 0px;
}
.ilo-button--text .ilo-button-icon {
  fill: #0078d4;
}
.ilo-button--text:enabled {
  background: none;
}
.ilo-button--text:hover {
  background: rgba(0, 120, 212, 0.04);
}
.ilo-button--text:focus {
  background: rgba(0, 120, 212, 0.08);
}
.ilo-button--text:disabled {
  color: #9b9ca3;
  background: none;
  cursor: not-allowed;
}
.ilo-button--text:disabled svg path {
  fill: #9b9ca3;
}
.ilo-button--contained {
  color: #fff;
  border: 0px;
}
.ilo-button--contained .ilo-button-icon {
  fill: #fff;
}
.ilo-button--contained:enabled {
  background: #0078d4;
}
.ilo-button--contained:hover {
  background: rgba(0, 120, 212, 0.96);
}
.ilo-button--contained:focus {
  background: rgba(0, 120, 212, 0.60);
}
.ilo-button--contained:disabled {
  color: #9b9ca3;
  background: #fff;
  cursor: not-allowed;
}
.ilo-button--contained:disabled svg path {
  fill: #9b9ca3;
}
/* COLOR | FOREGROUND */
/* COLOR | BACKGROUND */
/* COLOR | PRIMARY */
/* RIPPLE COLOR */
/* ilo - podcast card*/
.podcastCard {
  margin: 16px auto;
  display: flex;
  max-width: 738px;
  justify-content: left;
  border-radius: 10px;
}
.podcastCard__artworkContainer {
  width: 136px;
  height: 136px;
  margin-right: 16px;
  border-radius: 12px;
  align-self: center;
  flex-shrink: 0;
}
.podcastCard__artworkContainer svg {
  border-radius: inherit;
}
.podcastCard__artworkContainer img {
  border-radius: inherit;
}
podcastCard__artwork {
  width: 136px;
  height: 136px;
}
.podcastCard__date {
  height: 0.875rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 100%;
  margin-bottom: 8px;
 /* identical to box height, or 16px */
  color: #9b9ca3;
}
.podcastCard__title {
  left: 0px;
  margin-bottom: 8px;
  line-height: 1;
  font-size: 1.2rem;
  padding-bottom: 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #2f3031;
}
.podcastCard__description {
  left: 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: normal;
  height: 48px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
 /* or 16px */
 /* Foreground / neutralSecundary • gray130 */
  color: #595963;
}
.ilo-button {
  width: min-width;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 4px 8px 4px 8px;
  margin: 0px;
  height: 36px;
  border-radius: 100px;
}
@media (max-width: 640px) {
  .podcastCard__artworkContainer {
    display: none;
 }
  .podcastCard__title {
    font-size: 1.2rem;
    padding-bottom: 0px !important;
    color: red;
 }
  .podcastCard__description {
    font-size: 1rem;
 }
}


/* SVG sound play Button icon animate */
.svgSound-playing{
  stroke: #1a73e8;
  stroke-dasharray:16;
  margin-right: 4px;
}

.leftLine {
  animation: leftLine 1.5s linear infinite;
}

.middleLine {
  animation: middleLine 1.5s linear infinite;
}

.rightLine {
  animation: rightLine 1.5s linear infinite;
}

  @keyframes leftLine {
 0% {
  stroke-dashoffset:14
 }
 4% {
  stroke-dashoffset:12
 }
 8% {
  stroke-dashoffset:10
 }
 16% {
  stroke-dashoffset:8
 }
 20% {
  stroke-dashoffset:6
 }
 24% {
  stroke-dashoffset:7
 }
 28% {
  stroke-dashoffset:8
 }
 32% {
  stroke-dashoffset:10
 }
 36% {
  stroke-dashoffset:8
 }
 40% {
  stroke-dashoffset:8
 }
 44% {
  stroke-dashoffset:6
 }
 48% {
  stroke-dashoffset:4
 }
 52% {
  stroke-dashoffset:2
 }
 56% {
  stroke-dashoffset:3
 }
 60% {
  stroke-dashoffset:3
 }
 64% {
  stroke-dashoffset:4
 }
 68% {
  stroke-dashoffset:6
 }
 72% {
  stroke-dashoffset:5
 }
 76% {
  stroke-dashoffset:4
 }
 80% {
  stroke-dashoffset:3
 }
 84% {
  stroke-dashoffset:2
 }
 88% {
  stroke-dashoffset:6
 }
 92% {
  stroke-dashoffset:10
 }
 96% {
  stroke-dashoffset:12
 }
 to {
  stroke-dashoffset:14
 }
}
  @keyframes middleLine {
 0% {
  stroke-dashoffset:2
 }
 4% {
  stroke-dashoffset:4
 }
 8% {
  stroke-dashoffset:6
 }
 16% {
  stroke-dashoffset:7
 }
 20% {
  stroke-dashoffset:7
 }
 24% {
  stroke-dashoffset:7
 }
 28% {
  stroke-dashoffset:6
 }
 32% {
  stroke-dashoffset:8
 }
 36% {
  stroke-dashoffset:4
 }
 40% {
  stroke-dashoffset:4
 }
 44% {
  stroke-dashoffset:2
 }
 48% {
  stroke-dashoffset:6
 }
 52% {
  stroke-dashoffset:8
 }
 56% {
  stroke-dashoffset:10
 }
 60% {
  stroke-dashoffset:9
 }
 64% {
  stroke-dashoffset:6
 }
 68% {
  stroke-dashoffset:5
 }
 72% {
  stroke-dashoffset:4
 }
 76% {
  stroke-dashoffset:3
 }
 80% {
  stroke-dashoffset:3
 }
 84% {
  stroke-dashoffset:4
 }
 88% {
  stroke-dashoffset:4
 }
 92% {
  stroke-dashoffset:8
 }
 96% {
  stroke-dashoffset:6
 }
 to {
  stroke-dashoffset:8
 }
}
  @keyframes rightLine {
 0% {
  stroke-dashoffset:12
 }
 4% {
  stroke-dashoffset:8
 }
 8% {
  stroke-dashoffset:6
 }
 16% {
  stroke-dashoffset:4
 }
 20% {
  stroke-dashoffset:2
 }
 24% {
  stroke-dashoffset:2
 }
 28% {
  stroke-dashoffset:6
 }
 32% {
  stroke-dashoffset:8
 }
 36% {
  stroke-dashoffset:10
 }
 40% {
  stroke-dashoffset:12
 }
 44% {
  stroke-dashoffset:14
 }
 48% {
  stroke-dashoffset:12
 }
 52% {
  stroke-dashoffset:8
 }
 56% {
  stroke-dashoffset:6
 }
 60% {
  stroke-dashoffset:4
 }
 64% {
  stroke-dashoffset:4
 }
 68% {
  stroke-dashoffset:5
 }
 72% {
  stroke-dashoffset:4
 }
 76% {
  stroke-dashoffset:6
 }
 80% {
  stroke-dashoffset:4
 }
 84% {
  stroke-dashoffset:2
 }
 88% {
  stroke-dashoffset:2
 }
 92% {
  stroke-dashoffset:4
 }
 96% {
  stroke-dashoffset:6
 }
 to {
  stroke-dashoffset:8
 }
}

/* Player */

main {
  flex: 1 0 auto;
}

.ilo-player {
  display: flexbox;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-shrink: 0;
  padding: 12px 12px;
  background-color: #EDEBE9;
}

.ilo-player__main {
  display: grid;
  grid-template-columns: 1fr 208px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 32px;
  grid-template-areas: "ilo-player__details ilo-player__actions ilo-player__volume";
}

.ilo-player__details {
  grid-area: ilo-player__details;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0;
}

.ilo-player__artworkContainer {
  flex-shrink: 0;
}

.ilo-player__artwork {
  box-sizing: content-box;
  width: 50px;
  height: 50px;
  padding: 0 6px;
  border-radius: 5px;
}

.ilo-player__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  margin-left: 12px;
}

.ilo-player__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #202124;
  margin: 0 0 8px 0;
  padding: 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}

.ilo-player__restTime {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  /* identical to box height, or 12px */
  color: #3c4043;
  margin: 0 0;
  padding: 0 0;
}

.podcastArtworkInformation {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}

.ilo-player__actions {
  grid-area: ilo-player__actions;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ilo-player__volume {
  grid-area: ilo-player__volume;
}

input[type=range].ilo-player__sliderVolume {
  width: 200px;
  margin: 0 0;
  text-align: center;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range].ilo-player__sliderVolume:focus {
  outline: none;
}

input[type=range].ilo-player__sliderVolume::-webkit-slider-runnable-track {
  background: #0078d4;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

input[type=range].ilo-player__sliderVolume::-webkit-slider-thumb {
  margin-top: -5px;
  width: 12px;
  height: 12px;
  background: #0078d4;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range].ilo-player__sliderVolume:focus::-webkit-slider-runnable-track {
  background: #0078d4;
}

input[type=range].ilo-player__sliderVolume::-moz-range-track {
  background: #0078d4;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

input[type=range].ilo-player__sliderVolume::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #0078d4;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 12px;
  cursor: pointer;
}

input[type=range].ilo-player__sliderVolume::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 5px 0;
  color: transparent;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

input[type=range].ilo-player__sliderVolume::-ms-fill-lower {
  background: #0078d4;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 50px;
}

input[type=range].ilo-player__sliderVolume::-ms-fill-upper {
  background: #0078d4;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 50px;
}

input[type=range].ilo-player__sliderVolume::-ms-thumb {
  width: 12px;
  height: 12px;
  background: #0078d4;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range].ilo-player__sliderVolume:focus::-ms-fill-lower {
  background: #0078d4;
}

input[type=range].ilo-player__sliderVolume:focus::-ms-fill-upper {
  background: #0078d4;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].ilo-player__sliderVolume {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}